body {
 font-family: "Helvetica Neue", sans-serif;
 padding-left: 4em;
}

a {
 color: #090;
}

nav a {
 text-decoration: none;
 text-transform: uppercase;
}

nav a:hover {
 text-decoration: underline;
}

.content {
 width: 50em;
}

.templates {
 display: none;
}

h1 {
 font-weight: normal;
 font-size: 446%;
 margin: 0;
}

h2 {
 margin-top: 3em;
 font-weight: normal;
}

ul {
 padding-left: 0;
}

li {
 list-style-type: square;
 color: #090;
}

fieldset, input {
 border: none;
}

fieldset {
 border-bottom: 1px solid #090;
 margin: 0;
 padding: 10px 0;
}

input {
 font-size: 90%;
 border-bottom: 1px dashed #090;
 margin-right: 10px;
}

.action {
 margin: 0 1em;
 color: #090;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 90%;
}

.button, button {
 background-color: white;
 color: #090;
 border: solid 2px #090;
 padding: 0.3em 0.5em;
 border-radius: 8px;
 text-decoration: none;
 margin-right: 1em;
}

.button:hover, button:hover {
 color: white;
 background-color: #090;
}

button {
 font-size: 100%;
}

input.title {
 font-size: 200%;
 width: 100%;
}

p.section input {
 font-size: 120%;
}

p.section input.title {
 font-weight: bold;
 width: 30em;
}

input.price {
 width: 4em;
}

p.section input.price {
 width: 3em;
}

input.name {
 width: 40em;
}